$primary-color: rgb(213, 238, 248);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
  font-family: halyard-display;
}

a {
  text-decoration: none;
  color: white;
}

.gui {
  position: fixed;
  top: 0;
  left: 100px;
  z-index: 1;
}

.experience {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.content {
  // pointer-events: none;
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  color: white;
  overflow: auto;
}

h1 {
  position: fixed;
  bottom: 0;
  font-weight: 300;
  font-size: 16px;
  padding: 20px;
  text-transform: uppercase;
  opacity: 1;
  color: #eee;
  opacity: 0.6;
}

#close-btn {
  z-index: 2;
  position: fixed;
  top: 30px;
  right: 140px;
  background: transparent;
  border: none;

  width: 80px;
  height: 80px;
  border: 1px solid transparent;
  border-radius: 50%;
  cursor: pointer;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 50%;
    height: 100%;
    width: 6px;
    background: white;
    transform: rotate(45deg) scale(0.6);
    transition: transform 300ms;
  }
  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 50%;
    height: 100%;
    width: 6px;
    background: white;
    transform: rotate(-45deg) scale(0.6);
    transition: transform 1s;
  }

  &.hide {
    &::after,
    &::before {
      transform: rotate(45deg) scale(0);
    }
  }
}

nav {
  display: none;
  ul {
    display: inline-flex;
    gap: 14px;
    text-transform: uppercase;
    margin-top: 64px;

    transform: rotate(90deg) translateX(50%);
  }
}

.control-times {
  position: fixed;
  top: 50%;
  right: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  transition: transform 0.8s;
  transition-delay: 0.5s;

  span {
    display: block;
  }
  .line {
    background: #ccc;

    width: 30px;
    height: 2px;

    transition: height 300ms, margin 300ms;

    &.active {
      height: 5px;
      margin: 6px 0;
    }
  }

  .cursor {
    position: absolute;
    margin-top: 16px;
    top: 0;
    right: -20px;
    transform: translateY(-100%);

    transition: transform 300ms ease-out;
  }

  &:hover {
    cursor: pointer;
  }

  &.hide {
    transform: translateX(300%);
    transition: transform 0.4s;
    transition-delay: 0s;
  }
}
