$primary-color: rgb(213, 238, 248);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
  // font-family: forma-djr-banner, sans-serif;
  // font-weight: 700;

  // font-family: condor, sans-serif;
  // font-weight: 700;
  // font-style: italic;

  // font-family: alternate-gothic-no-2-d, sans-serif;
  // font-weight: 400;

  //   font-family: "gover";

  font-family: "league-gothic";
}

a {
  text-decoration: none;
  color: white;
}

.experience {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.content {
  // pointer-events: none;
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  color: white;
  overflow: auto;
}

h1 {
  // font-family: forma-djr-banner, sans-serif;
  // font-weight: 400;
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-weight: 300;
  position: fixed;
  top: 0;
  font-weight: 300;
  font-size: 14px;
  padding: 20px;
  text-transform: uppercase;
  opacity: 1;
  // letter-spacing: 1.1px;
  color: #ccc;
  opacity: 0.6;
}

nav {
  display: none;
  ul {
    display: inline-flex;
    gap: 14px;
    text-transform: uppercase;
    margin-top: 64px;

    transform: rotate(90deg) translateX(50%);
  }
}
.times {
  // height: 100%;
  display: flex;
  display: none;
  align-items: center;
  justify-content: flex-end;

  padding-right: 180px;

  font-size: 120px;
  text-transform: uppercase;
  overflow: auto;

  ul {
    list-style: none;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  li {
    margin-bottom: 10px;
    text-decoration: none;
    text-align: right;
  }
  a {
    // opacity: 0.2;
    color: black;
    text-shadow: -1px -1px 0 $primary-color, 1px -1px 0 $primary-color, -1px 1px 0 $primary-color,
      1px 1px 0 $primary-color;
    transition: color 200ms ease;

    &:hover {
      color: $primary-color;
      // opacity: 1;
    }
  }
}
