$primary-color: rgb(213, 238, 248);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
  // font-family: forma-djr-banner, sans-serif;
  // font-weight: 700;

  // font-family: condor, sans-serif;
  // font-weight: 700;
  // font-style: italic;

  // font-family: alternate-gothic-no-2-d, sans-serif;
  // font-weight: 400;

  //   font-family: "gover";

  font-family: "league-gothic";
}

a {
  text-decoration: none;
  color: white;
}

.gui {
  position: fixed;
  top: 0;
  left: 100px;
  z-index: 1;
}

.experience {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.content {
  // pointer-events: none;
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  color: white;
  overflow: auto;
}

h1 {
  // font-family: forma-djr-banner, sans-serif;
  // font-weight: 400;
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-weight: 300;
  position: fixed;
  top: 0;
  font-weight: 300;
  font-size: 14px;
  padding: 20px;
  text-transform: uppercase;
  opacity: 1;
  // letter-spacing: 1.1px;
  color: #ccc;
  opacity: 0.6;
}

#close-btn {
  z-index: 2;
  position: fixed;
  top: 30px;
  right: 140px;
  background: transparent;
  border: none;

  width: 80px;
  height: 80px;
  border: 1px solid transparent;
  border-radius: 50%;
  cursor: pointer;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 50%;
    height: 100%;
    width: 6px;
    background: white;
    transform: rotate(45deg) scale(0.6);
    transition: transform 300ms;
  }
  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 50%;
    height: 100%;
    width: 6px;
    background: white;
    transform: rotate(-45deg) scale(0.6);
    transition: transform 1s;
  }

  &.hide {
    &::after,
    &::before {
      transform: rotate(45deg) scale(0);
    }
  }
}

nav {
  display: none;
  ul {
    display: inline-flex;
    gap: 14px;
    text-transform: uppercase;
    margin-top: 64px;

    transform: rotate(90deg) translateX(50%);
  }
}
.times {
  // height: 100%;
  display: flex;
  display: none;
  align-items: center;
  justify-content: flex-end;

  padding-right: 180px;

  font-size: 120px;
  text-transform: uppercase;
  overflow: auto;

  ul {
    list-style: none;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  li {
    margin-bottom: 10px;
    text-decoration: none;
    text-align: right;
  }
  a {
    // opacity: 0.2;
    color: black;
    text-shadow: -1px -1px 0 $primary-color, 1px -1px 0 $primary-color, -1px 1px 0 $primary-color,
      1px 1px 0 $primary-color;
    transition: color 200ms ease;

    &:hover {
      color: $primary-color;
      // opacity: 1;
    }
  }
}

.control-times {
  position: fixed;
  top: 50%;
  right: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  transition: transform 0.8s;
  transition-delay: 0.5s;

  span {
    display: block;
  }
  .line {
    background: #ccc;

    width: 30px;
    height: 2px;

    transition: height 300ms, margin 300ms;

    &.active {
      height: 5px;
      margin: 6px 0;
    }
  }
  .cursor {
    position: absolute;
    margin-top: 16px;
    top: 0;
    right: -20px;
    transform: translateY(-100%);

    transition: transform 300ms ease-out;
  }

  &:hover {
    cursor: pointer;
  }

  &.hide {
    transform: translateX(300%);
    transition: transform 0.4s;
    transition-delay: 0s;
  }
}
